@import './styles/_fonts';
@import './styles/_variables';

html {
  box-sizing: border-box;
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'ProximaNova', sans-serif;
  background: $light-gray;
  color: $dark-gray;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.container {
  width: 100%;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}