@import '../../styles/_variables';
@import '../../styles/_fonts';

.search-box {
  width: 100%;
  display: flex;
  margin-left: 30px;

  input[type="text"] {
    flex-grow: 1;
    border: none;
    border-radius: 2px 0 0 2px;
    padding: 5px 15px;
    font-family: inherit;
    font-size: 14px;
    outline: none;
  }

  button {
    width: 35px;
    border: none;
    background: $light-gray;
    border-radius: 0 2px 2px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    img {
      width: 20px;
      height: 20px;
    }
  }
}