@font-face {
  font-family: 'ProximaNova';
  font-weight: 400;
  src:
    url('../assets/fonts/ProximaNova-Regular.otf'),
}

@font-face {
  font-family: 'ProximaNova';
  font-weight: 600;
  src:
    url('../assets/fonts/ProximaNova-Bold.otf'),
}